<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>RegExplainer</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    </head>
    <body>
        <section class="section">
        <h1 class="title" style="text-align: center;">Regex Explainer<h1>
        <div class="container block">
        <form method="POST"> 
            <div class="field"><label class="label">Regex:</label> 
            {% if regex %}
            <textarea class="textarea is-primary" style="min-width: 10vw; width: 50vw;" placeholder="{{regex}}" type="text" name="regex"></textarea></div>
            {% else %} 
            <textarea class="textarea is-primary" style="min-width: 10vw; width: 50vw;" placeholder="Type a regex here..." type="text" name="regex"></textarea></div>
            {% endif %}
            <div class="field control"><input class="button is-link" type="submit" value="Submit"></div>
        </form>
        </div>
        {% if explanation %}
        <div class="container block">
            <p class="subtitle">Explanation of the regex:</p>
            <p>Regex: {{regex}}</p>
            <p style="white-space: pre-wrap;">{{explanation}}</p>
        </div>
        {% endif %}
        </section>
    </body>
</html>
